.launches{
    width: 70%;
    background-image: linear-gradient(to right,var(--color_6) 0%, var(--color_7) 100%);
    &__container{
        padding: 3em .5em 3em .5em;
        width: 95%;
        height: 70vh;
        background:var(--color_8);
    }
    span{
        color:var(--color_4);
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 14px;
    }
    .table__row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        border-bottom: 1px solid var(--color_4);
        margin-top: .2em;
        &:last-child {
            border-bottom: 0;
        }   
    }
    button{
        cursor: pointer;
        outline: none;
        background: var(--color_8);
        color: var(--color_4);
        &:hover{
            color: var(--color_1);
        }
    }
}